<div class="container">
    <include localsrc="assets/img/home.svg"></include>
    <div class="info">
        <h1>Welcome to the showcase of the official Authentication plugin for rable.js!</h1>
        <p>
            rable.js-auth is written by the same developer that made rable.js, and thereby the official authentication plugin. <br>
            The plugin makes use of both rable.js and rable.js-api and provides easy user authentication. It registers a middleware which checks if the request is authenticated, provides a login route and a route to check if a client is signed in.
            <br><br>
            For this showcase you can <a href="login">login</a> with the two already configured users stored in a <a href="https://npmjs.com/package/locdb" target="_blank">locdb</a> database so that everyone can easily try it out on their own computer.
            <br><br>
            <b>John Doe:</b> johndoe@email.com / SamplePassword <br>
            <b>Mary Doe:</b> marydoe@email.com / AnotherPassword
            <br><br>
            In this case, their email address excluding <i>"@email.com"</i> also acts as their username. You can login with both their username and email address.
            <br><br>
            For further information about the mechanics of how the Library works, please visit the <a href="/docs">docs</a><span class="public-docs"> (also publicly available <a href="https://rable-api.app.michadevries.nl/docs">here</a>)</span>.
        </p>
    </div>
</div>

<style media="screen" localsrc="css/home.css"></style>
<script type="text/javascript" localsrc="js/home.js"></script>
